body{
    margin:0;
    min-height:100vh;
    background-color:rgb(237, 211, 164);
    display:flex;
    justify-content:center;
    align-items: center;
}
.Convertor{
    border:0.002rem rgb(224, 149, 149) solid;
    border-radius:1%;
    display:flex;
    flex-flow: column;
    justify-content:center;
    align-items: center;
    background-color:pink;
    /* overflow-x:auto;
    overflow-y:auto;
    padding-left:8%;
    padding-right:8%;
    padding-top:4%;
    padding-bottom:4%;
    opacity:1; */
    width:80%;
    max-width:22rem;
    padding:0.75rem;

}

.amount{
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
}

.dropdown{
    display:flex;
    flex-flow:row;
    justify-content:center;
    align-items:center;
}

.from{
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
}

.to{
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
}

.select{
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
}

.result{
    margin-left:22%;
    margin-top:0%;
    background-color:rgb(159, 231, 159);
    border:0.01rem black solid;
    font-weight:bold;
    padding:4%;
}

.message{
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    padding-left:3%;
    margin-top:10%;
}

p{
    color:rgb(65, 8, 8);
    font-weight:bold;
}

.select img{
    width:100%;
    width:2rem;
}

select{
    width:8rem;
}
