*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    margin:0;
    min-height:100vh;
    background-color:rgb(237, 211, 164);
    display:flex;
    justify-content:center;
    align-items: center;
}
.Convertor{
    border:0.002rem rgb(224, 149, 149) solid;
    border-radius:1%;
    display:flex;
    flex-flow: column;
    justify-content:center;
    align-items: center;
    background-color:pink;
    /* overflow-x:auto;
    overflow-y:auto;
    padding-left:8%;
    padding-right:8%;
    padding-top:4%;
    padding-bottom:4%;
    opacity:1; */
    height:75vh;
    max-width:80rem;
    padding:0.01rem;
    box-sizing:border-box;
}

.amount{
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
}

.dropdown{
    display:flex;
    flex-flow:row;
    justify-content:center;
    align-items:center;
}

.from{
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    margin-top:3rem;
}

.to{
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    margin-top:3rem;
}

.select{
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
}

.result{
    margin-left:22%;
    margin-top:0%;
    background-color:rgb(77, 9, 9);
    border:0.01rem black solid;
    font-weight:bold;
    padding:4%;
    font-size:1rem;
    color:white;
    font-weight:bold;
    border-radius:0.5rem;
    cursor:pointer;
}

.message{
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    padding-left:3%;
    margin-top:10%;
}

p{
    color:rgb(65, 8, 8);
    font-weight:bold;
}

.select img{
    width:100%;
    width:2rem;
}

select{
    width:8rem;
    height:2rem;
    font-weight:bold;
    cursor:pointer;
}

input{
    margin-top:2rem;
    height:1.75rem;
    font-size:1rem ;
    font-weight:bold;
}

.h22{
    padding-top:0rem;
}
