*{
    /* margin:0; */
    padding:0;
}
body{
    margin:0;
    min-height:100vh;
    background-color:rgb(237, 211, 164);
    display:flex;
    justify-content:center;
    align-items: center;
    overflow-x:auto;
    overflow-y:auto;
}
.Convertor{
    border:0.002rem rgb(224, 149, 149) solid;
    border-radius:1.75rem;
    display:flex;
    flex-flow: column;
    justify-content:center;
    align-items: center;
    background-color:pink;
    overflow-x:auto;
    overflow-y:auto;
    padding-left:8%;
    padding-right:8%;
    padding-top:2%;
    padding-bottom:2%;
    opacity:1;
}

.amount{
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
}

.dropdown{
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
}

.from{
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
}

.To{
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
}

.select{
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
}

.result{
    background-color:rgb(159, 231, 159);
    border:0.01rem black solid;
    font-weight:bold;
}

.message{
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    padding-left:3%;
    margin-top:10%;
}

p{
    color:rgb(65, 8, 8);
    font-weight:bold;
}


input,button,select{
    width:15rem;
    height:1.75rem;
    border-radius:0.75rem;
}